body{ margin:0; padding:0; line-height: 1.0em; }

#header {
height: 1px; /*Height of top section*/
}


#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 0% 0 0%; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 0%; /*Width of left column in percentage*/
margin-left: -0%;
}

#leftcolumn div {display:none;}

#rightcolumn{
float: left;
width: 0%; /*Width of right column in pixels*/
margin-left: -0%; /*Set margin to that of -(RightColumnWidth)*/
}

#rightcolumn div {display:none;}

#footer{
clear: left;
width: 100%;
padding: 0px 0;
height:0px;
}

#footer a{
/*color: #FFFF80; */
height: 0px;
}

.innerwrapper{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
