body{ margin:0; padding:0; line-height: 1.5em; }


#header {
height: 20px; /*Height of top section*/
}


#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 0 0 30%; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
padding-left:10px;
}

#leftcolumn{
float: left;
width: 30%; /*Width of left column in percentage*/
margin-left: -100%;
}

#rightcolumn{
float: left;
width: 5%; /*Width of right column in pixels*/
margin-left: -5%; /*Set margin to that of -(RightColumnWidth)*/
display:none;
}

#footer{
clear: left;
width: 95%;
color: #FFF;
padding: 0px 0;
height:0px;
}


.innerwrapper{
margin: 0px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
width:95%;
}
